@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
  --background-rgb: 248, 250, 252;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.font-serif {
  font-family: Georgia, "Times New Roman", serif;
}

.font-mono {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", monospace;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
